<div>
    <div class="container">
        <!--  PolicyNo:number,
    Model:string,
    RegistrationNumber:string,
    RenewAmount:number,
    Email:string -->
        <div  class="container-2" *ngFor="let dept of customer_vehicle_policy">
            <p>
                Policy Number:# {{dept.PolicyNo}}
            </p>
            <p>
                Vehicle Model:# {{dept.Model}}
            </p>
            <p>
                Registration Number:# {{dept.RegistrationNumber}}
            </p>
            <p>
                Claim Amount: INR {{dept.RenewAmount}}
            </p>
        </div>
    <div class="container-3">
       
            <div class="next">
                <button class="claimb" type="submit" (click)="claim()">Claim</button>
            </div>
            <div class="next">
                <button class="renewb" type="submit" (click)="renew()">Renew</button>
            </div>
        </div>
</div>
</div>